.homeBody{
    padding: 2vw;  
}

.topSection{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 2vw;
}

.imgCont{
    border: 0.3vw solid white;
    border-radius: 3vw;
    display: inline-block;
    overflow: hidden;
}

.imgCont img{
    height: 30vw;
    width: auto;
    display: block;
}

.textCont{
    height: 30vw;
    width: 46vw;
    border: 0.3vw solid white;
    border-radius: 3vw;
    padding: 2vw;

}

.textCont p{
    font-size: 1.5vw;

}

.bottomSection{
    margin-top: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 2vw;
}