.loginBody {
    display: flex;
    justify-content: center; 
    align-items: center;     
    padding: 0vw 0;
}
.loginCont{
    display: flex;
    align-items: center;     
    flex-direction: column;
    gap: 2vw;
    
}


.loginCont input, 
.loginCont button,
.popup input, 
.popup button{
    width: 50vw;
    height: 5vw;
    border-radius: 0.8vw;
    border: 0.3vw solid rgb(141, 141, 141);
}

.loginCont input:focus, 
.loginCont button:hover,
.popup input:focus, 
.popup button:hover{
    transition: 0.5s;
    width: 55vw;
    height: 6vw;
}

.loginCont button{
    font-size: 3vw;
    background-color: white;
}


.loginCont h1,
.popup h2{
    font-size: 8vw;
}

.loginCont a{
    text-decoration: underline;
}

.forgotCont,
.signUpCont{
    font-size: 2vw;
    display: flex;
    justify-content: flex-start; 
}

.signUpCont{
    gap: 27vw;
}

.forgotCont{
    gap: 18vw;
}

#signInBtn{
    margin-bottom: 10vw;
}

.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .popup {
    display: flex;
    align-items: center;     
    flex-direction: column;
    background-color: rgb(26, 26, 26);
    border: 0.2vw, solid, rgb(142, 142, 142);
    padding: 1vw;
    border-radius: 1vw;
    width: 70vw;
    gap: 2vw;
  }

  #createAccBtn{
    margin-bottom: 5vw; 
  }

  #sendEmail{
    margin-bottom: 2vw;
}
  
  .popup .close {
    position: absolute;
    top: .5vw;
    right: 2vw;
    font-size: 3vw;
    color: rgb(255, 255, 255);
  }

  /* Slide-down animation */
@keyframes slideDown {
    from {
    transform: translateY(-200vw);
    opacity: 0;
    }
    to {
    transform: translateY(-7vw);
    opacity: 1;
    }
}

  #SignUp:target, #ResetPassword:target {
    display: flex;
  }
  
  #SignUp:target .popup, #ResetPassword .popup {
    animation: slideDown 0.4s ease forwards;
  }




  
  