.profileBody{
    display: flex;
    height: 160vh;
    width: 500vh;
}
.options {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #313131;
    border-right:  0.2vh solid rgb(105, 105, 105);
}

.options button, .options a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    transition: 0.5s;
    background-color: #161616;
    color: white;
    border: none;
    cursor: pointer;
    border-bottom: 0.2vh solid rgb(105, 105, 105);
    font-size: 2vw;
}

.options button:hover, .options a:hover {
    background-color: #313131;
}

#logout {
    color: red;
}


/* Default - Hide all sections */
.menuCont div {
    display: none;
}

/* Show the section that's targeted */
.menuCont div:target {
    display: block;
}

/* Default - Hide all sections */
.menuCont div {
    display: none;
    padding: 2vw;
    
    .inputCont {
        display: flex;

    }
}

/* Show the section that's targeted */
.menuCont div:target {
    display: block;
}

.inputCont{
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    gap: 0.5rem;
    color: white;
}

.menuCont h1{
    margin-left: 2vw;
}

.menuCont input, .menuCont button{
    width: 30vw;
}

#delete{
    background-color: #ff0000;
}

#delete:hover{
    background-color: #b80000;
}

