.upcomingPage {
    text-align: center;
    padding: 20px;
}

.upcomingMoviesCont {
    margin-top: 20px;
}

.moviesGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* ✅ fill left to right */
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.movieCard {
    width: 300px;
    /* Make cards bigger */
    background-color: #747474;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
}

.movieCard:hover {
    transform: scale(1.05);
}

.movieImage {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 4px;
}

.releaseDate {
    font-size: 1rem;
    margin-top: 10px;
    color: #555;
}