*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: "Red Hat Display", sans-serif;

}

.itemContainer{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1vw;
  width: 80vw;
  margin: 20vh auto;
}
